body{
 
  background-image : linear-gradient(-45deg, rgba(66, 132, 230, 0.637) , rgba(233, 183, 191, 0.486) )  ;
  background-attachment: fixed;
  background-size : 400% 100% ;
  animation : gradientAnimation 15s infinite alternate;
 }
 @keyframes gradientAnimation {
 0%{
  background-position : 0%;
 }
 100%{
  background-position : 100%;
 }
 }
.App {
  text-align: center;
}
.App h1{
  margin: 50px;
  font-style: italic;
}
.App .subtitle{
  position: relative;
  top: -35px;
  font-style: italic;
  font-weight: 400;
  font-size: large;
}
.schedule{
  margin: 35px 0;
  border: 0 solid;
  padding: 5px;
  box-shadow: -1px 1px 7px 1px rgba(68, 65, 65, 0.404);
  
}
.schedule-item{
display:flex;
margin-bottom: 3px;
/* justify-content: center; */
/* align-items: center; */
/* border: solid; */
/* border-width: lrpx tppx ; */
}
.schedule .weekday{
  /* flex-basis: 20px; */
   width: 100px;
  font-size: 20px;
  
  
  text-transform: capitalize;
  padding: 10px;
  border: 0 solid rgb(31, 139, 211);
  border-right-width: 2px;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.course-details{
  flex-shrink: 36;
  display: flex;
  /* overflow-x: scroll; */

}
.course-detail-item{
  padding: 10px;
  border:  0 solid black;
  border-right-width: 2px;
  /* MOBILE */
  /* FONT-SIZE: 13PX; */
  /* white-space: nowrap; */
}
.course-name{
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .schedule {
    width: 100%;
  }
  .schedule .weekday{

    /* MOBILE */
    width: 68px;
    font-size: 14px;
  }
  .course-detail-item{
    FONT-SIZE: 13PX; 
    white-space: nowrap;
  }
  .course-details{
   
    overflow-x: scroll;
  
  }
}
.r-courseC{
font-weight: 600;
font-size: 16px;
}

.r-times{
  font-size: 16px;
  text-align: start;
  
}
.r-time{
  margin: 6px 0px;
  border-bottom: 1px solid #af9a9a7a;
  white-space: nowrap;
}
.r-tday{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
}

.schedule-table{
margin: 30px 0;
}
.input-field{
  display: flex;
  justify-content: center;
  margin: 10px 10px;
}


footer {
  margin-top: 50px;
  border: 0;
  /* position:fixed;
  left:0px;
  bottom:0px; */
  height:50px;
  width:100%;
  font-size: 15px;
  color: black;
  background:rgba(255, 255, 255, 0.034);
  box-shadow: 0px 0px 7px #00000038;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: center;
}
footer div a{
  font-style: italic;
  letter-spacing: 1px;
}

/* IE 6
* html #footer {
  position:absolute;
  top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
} */